.hide {
    display:none !important;
}

.hide-v {
    visibility: hidden !important;
}


.circle-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media (min-width: 576px) and (max-width: 1024px) {
    .color-combination-container {  
        padding: 0 18%;
        gap: 5px;
    }
}

@media (max-width: 576px) {
    .color-combination-container {  
        padding: 0%;
        gap: 5px;
    }
}

@media (min-width: 1024px) {
    .color-combination-container {
        padding: 0 25%;
        gap: 0;
    }
}

.color-combination-container {
    width: 100%;

    .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        .remember-btn {
            cursor: pointer;
        }
    }

    &.answers {
        .circle-container {
            border: 1px solid #ddd;
            padding: 15px;
            gap: 2px;
        }

        .circle {
            cursor: none !important;
        }
    }
}

.circle-container.model .circle {
    cursor: default;
}

.times-up {
    width: 100%;
    justify-content: center;
    display: flex;
    padding-top: 60px;
}

.mc-color_combination {
    .wpProQuiz_questionList {
        display: none !important;
    }

    a {
        color: #000;
    }
}