.single-sfwd-quiz.exam-simulation-active {
    .wpProQuiz_reviewLegend, .wpProQuiz_response {
        display: none !important;
    }

    .wpProQuiz_questionListItem.wpProQuiz_answerIncorrect label, .wpProQuiz_questionListItem.wpProQuiz_answerCorrect label, .wpProQuiz_questionListItem.wpProQuiz_answerCorrectIncomplete label {
        border: 2px solid #e2e7ed !important;
    }
}

.exam-simulation-active {
    .ld-table-list {
        .ld-table-list-header, .ld-table-list-items {
            display: block !important;
        }
    }

    #wpProQuiz_user_content h2 {
        letter-spacing: normal;
    }
}

.learndash-wrapper {
    .go_back_to_group {
        display: flex;
        align-items: center;
    }

    .exam-simulation-buttons {
        display: flex;
        flex: 1;
        justify-content: space-evenly;

        .btn {
            display: block;
            width: 100%;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            padding: 15px 20px !important;
            color: #FFF;
            background-color: #1A3A27;
            border-radius: 10px;
            transition: 0.5s ease-in-out all;
            width: max-content;

            &:hover {
                background-color: #1FBB65;
            }
        }

        #btn-repeat {
        }

        #btn-previous-scores {
        }
    }
}

.mc-exam-simulation-results {
    .ld-table-list-footer {
        display: none !important;
    }
}

.exam-simulation-archives-header {
    margin-top: 40px;
}

.exam-simulation-archives {
    margin-top: 20px;

    .ld-table-list {
        margin: 0 !important;

        &-footer {
            display: none;
        }

        &-items {
            border: none !important;
            padding: 0 !important;
        }
    }
}

.exam-simulation-archive {
    &-accordion {
        border: 1px solid #ddd;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    &-header {
        background: #f5f5f5;
        padding: 15px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            margin: 0;
            font-size: 16px;
            letter-spacing: normal;
        }
    }

    &-content {
        padding: 15px;
        border-top: 1px solid #ddd;
    }

    &-toggle {
        font-size: 20px;
        font-weight: bold;
    }
}