.mc-numerical_processing {
    .wpProQuiz_questionList {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 500px;
    }

    .v-hide {
        visibility: hidden !important;
    }

    .wpProQuiz_questionInput {
        display: none !important;
    }

    .wpProQuiz_questionListItem {
        display: flex;
        align-items: center !important;
        color: #000;
        margin-top: 30px;
        height: 150px !important;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
    }
    .grid div {
        background-color: #d2d2d2;
        border: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3em;
        font-weight: bold;
        color: black;
    }
    .white {
        background-color: #fff !important;
    }

    .solution-title {
        font-weight: bold;
        font-size: 1.5rem;
    }
}