@media (max-width: 960px) {
    .mc-organization_calendar {
        .wpProQuiz_question_text {
            display: flex;
            flex-direction: column-reverse !important;
    
        }
    
        .external-events-container {
            width: 100% !important;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 10px;
    
            .external-events {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                max-height: 250px;
            }
    
            .fc-event {
                width: 19%;
                margin:0;
            }
            
            .fc-event-main {
                white-space: pre-wrap;
                overflow: hidden !important;
            }
        }
    }
}

@media (max-width: 600px) {
    .mc-organization_calendar {
        .external-events-container {
            .fc-event {
                width: 49%;
            }
        }
    }
}
