.cqt-quiz-time-limit-disabler {
    .cqt-toggle-switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .cqt-toggle-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .cqt-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 34px;
    }

    .cqt-slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked + .cqt-slider {
        background-color: var(--bricks-color-wsljtz);
    }

    input:checked + .cqt-slider:before {
        transform: translateX(26px);
    }

	.cqt-time-limit-toggle-switch {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 10px;
		color: var(--bricks-color-wsljtz);
	}
}